
body {
  background-color: rgb(255, 255, 255);

  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 200px;
  margin-left: 200px;

  font-family: "Trebuchet MS", Helvetica, sans-serif;

  text-align: justify;
  text-justify: inter-word;

}
h1 {
  color: rgb(134, 13, 13);
  font-size: 40px;
  /* margin-top: 60px */
}
h2 {
  color: rgb(134, 13, 13);
  font-size: 30px;
  /* margin-top: 60px */
}
h3 {
  color: rgb(134, 13, 13);
  background-color: rgb(255, 255, 255);
  font-size: 22px;
  text-decoration: underline;
  /* margin-top: 60px */
}
p {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: normal;
}

/* Top navigation bar */
nav ul, footer ul {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color: rgb(110, 110, 110);
  padding: 0px;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #7a7a7a;
}
a:hover {
  text-decoration: underline;
  color: rgb(134, 13, 13);
  background-color: rgba(255, 255, 255, 0);
}

/* h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
} */
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

/* column formatting */
.column {
  float: left;
}
/* left column width */
.left {
  width: 75%;
}
/* right column width */
.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* define centre class */
.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* define avatar class for image alignment */
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}